.main__wrapper {
    width : 100%;
    height : 100%;
    background-color: paleturquoise;
    font-size : 5rem;
    /* grid layout */
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 2fr;
    grid-template-areas: 
    "test _all shop"
    "carousel carousel dictionary";
    grid-gap : 1vh;
}
.main__wrapper > * {
    border : 2px solid black;
}

/* content자식요소 3개중 첫 번째 */
.content:nth-child(1) {
    grid-area: test;
}
.content:nth-child(2) {
    grid-area: _all;
}
.content:nth-child(3) {
    grid-area: shop;
}
.carousel {
    grid-area : carousel;
    overflow-x: scroll;
}
.dictionary {
    grid-area: dictionary;
}
