.test__wrapper {
    position : relative;
    width : 100%;
    height : 100%;
    /* border : 3px solid black; */
    display : flex;
}
/* .test__wrapper > * {
    border : 2px solid black;
} */

/* test보는 부분! */
.test__area {
    width : 65%;
    max-width : 65%;
    display : flex;
    flex-direction: column;
    overflow-x: scroll;
    /* border : 2px solid black; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.test__area > .carousel {
    width : 100%;
    height : 100%;
    background-color: transparent;
    display : flex;
    /* border : 3px solid black; */
}
.carousel > .form {
    width : 100%;
    height : 100%;
    /* background-color: palegreen; */
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    grid-gap : 1vh;
    grid-template-areas: 
    "one two"
    "three four"
    "button button";
    /* border : 1px solid black; */
}
.question {
    /* border : 3px solid black; */
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.question > *{
    flex-grow : 1;
    display : flex;
    justify-content: center;
    align-items: center;
}
.question:nth-child(1) {
    grid-area : one;
    
}
.question:nth-child(2) {
    grid-area : two;
}
.question:nth-child(3) {
    grid-area : three;
}
.question:nth-child(4) {
    grid-area : four;
}
.button__box {
    grid-area : button;
}
.button__box > button {
    width : 10%;
    height : 80%;
    cursor: pointer;
    padding : 5px 5px;
    border-radius : 5px;
}
.button__box > button:hover {
    transition : all 0.5s;
    border : 3px solid black;
}
.button__box {
    text-align: center;
}

.question__page > .question {
    height : 20%;
}


/* label꾸밈 */
.question label{
    display : inline-block;
    width : 100px;
    height : 30px;
    border : 1px solid black;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius : 10px;
}
.question label:hover {
    background-color: rgb(215, 245, 250);
    transition : all 0.5s;
}
/* label과 radio박스 꾸미기! */
.question > p > [type="radio"] {
    display : none;
}
[type="radio"]:checked + label {
    background-color: antiquewhite !important;
    /* label이 무조건 checked된 속성 다음에 있어야 발동이 돼!!! */
}

.question__page > .answer {
    height : 80%;
    border : 2px solid black;
    overflow-y: scroll;
}
/* 결과 부분!  */
.result__area {
    width : 35%;
    max-width : 35%;
    
}