*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
html,body {
  position : relative;
  /* container를 위한 relative */
  width : 100vw;
  height : 100vh; 
  /* container가운데 정렬! */
  display : flex;
  justify-content: center;
  align-items: center;
}
.container {
  height : 450px;
  width : 150px;
  border : 5px solid black;

  display : flex;
  flex-direction: column;
}
.container > *{
  flex-grow : 1;
  border : 1px solid black;
  display : flex;
  justify-content: center;
  align-items: center;
}
.count__box {
  font-size : 2rem;
}