:root {
    --label-shadow : rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
[type="radio"] {
    display : none;
}
label {
    /* border : 2px solid black; */
    display : inline-block;
    width : 40%;
    height : 50%;
    display : flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--label-shadow);
}
label:hover { /* hover시 띄어쓰면 절대 안 돼! */
    transition : all 0.5s;
    background-color: paleturquoise;
}
/* checked됐을 때 애니메이션 */
[type="radio"]:checked + label {
    background-color: bisque;
    /* width : 200px; */
    /* checked됐을 때 그에 따른 label까지! */
}