.form {
    /* border : 2px solid black; */
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height : 80%; */
}

.form > .form__wrapper {
    width : 40%;
    height : 70%;
    /* border : 2px solid black; */

    display : flex;
    justify-content: center;
    align-items: center;
}