.bar__wrapper {
    width : 40%;
    height : 80%;
    /* border : 2px solid black; */
    display : flex;
}
.bar__wrapper > *{
    flex-grow : 1;
    height : 100%;
    /* border : 1px solid black; */
    display : flex; /* 글자 가운데 정렬 */
    justify-content: center;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius : 5px;
    margin : 0 2px;
    cursor: pointer;
}
.bar__wrapper > *:hover {
    transition : all 0.3s;
    background-color: paleturquoise;
}